<div class="container navbar py-3 border-bottom">
    
    <a href="/" class="">
        <img src="/assets/img/ZD_logo.png" alt="Home" class="logo-home-button">
    </a>

      <ul class="nav nav-pills ">
        {% for link in site.data.nav %}
            {% assign active_class = '' %}
            {% assign aria_current = '' %}

            {% if page.url == link.url %}
                {% assign active_class = ' active' %}
                {% assign aria_current = ' aria-current="page" ' %}
            {% endif %}

            <li class="nav-item"><a href=" {{ link.url }}" class="nav-link {{ active_class }}" {{ aria_current }}> {{ link.title }} </a></li>
        {% endfor %}
      </ul>
</div>