<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Zenith Digital</span>
      </a>
      <hr>

      <ul class="nav nav-pills flex-column mb-auto">
        {% for link in site.data.nav %}
            {% assign active_class = '' %}
            {% assign aria_current = '' %}

            {% if page.url == link.url %}
                {% assign active_class = ' active' %}
                {% assign aria_current = ' aria-current="page" ' %}
            {% endif %}

            {% if link.is_header == true %}
                <hr>
                <!-- <p class="rounded border-0 collapsed"> {{link.title}} </p> -->

            {% else %}
                <li class="nav-item">
                    <a href="{{ link.url }}" class="nav-link {{ active_class }} text-white" {{ aria_current }}>
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    {{ link.title }}
                    </a>
                </li>
            {% endif %}



        {% endfor %}
        
      </ul>
      <hr>
</div>