---
---

$header-bg-col: #111111;
$font-family-base: 'Roboto', sans-serif;

/* Apply Roboto font to all elements */
body, h1, h2, h3, h4, h5, h6, p, a, button, input, select, textarea, .navbar, .dropdown, .modal, .carousel {
    font-family: $font-family-base !important;
}

html, body {
    height: 100%;
}

main {
    min-height: 100vh;
}

section {
    display: block;
}

.section {
    width: 100%;
    float: left;
    overflow: hidden;
}



// Title Card Logo on Main Page
.title-img {
    width: auto;
    max-width: 100%;
    max-height: 300px;
}

li {
    margin-bottom: 10px; /* Adjust the value as needed */
}

.fotter-icon {
    width: 40px; /* Adjust the size as needed */
    height: 100%; /* Maintains aspect ratio */
}


@import "header-block";
@import "fontawesome";
@import "sidebar";
@import "bootstrap-icons.css";
@import "roboto-font";
@import "job-cards";
@import "portfolio.scss";