---
layout: default
permalink: /work/
title: Zenith Digital - Work
---

<section>
    <div class="container my-5">
        <h2 class="mb-4">Daniel Orchard - Founder &amp; Developer at Zenith Digital</h2>
        <div class="bg-light p-4 shadow-sm rounded">
            <h3 class="mb-3">A Foundation of Expertise</h3>
            <p class="lead">
                With over <strong>12 years</strong> of dedicated experience in Unreal Engine development, my personal journey has been instrumental in shaping the vision and capabilities of <strong>Zenith Digital</strong>. This expertise is rooted in a rich portfolio of projects across film, TV, and broadcast sectors, examples of which are showcased below.
            </p>
            <p class="lead">
                Although Zenith Digital is a newly established entity, it stands on the robust groundwork laid by years of my hands-on experience and innovative contributions to the industry.
            </p>
            <footer class="blockquote-footer">Daniel Orchard, <cite title="Founder's Background">Founder of Zenith Digital</cite></footer>
        </div>

        <div class="mt-4">
            <h3 class="fst-italic">Upcoming Projects</h3>
            <p>While there are several exciting projects in the pipeline for Zenith Digital that we're eager to share, confidentiality commitments keep us from disclosing details at this moment.</p>
        </div>

        <div class="mt-4">
            <h3 class="fst-italic">Showcased Experience</h3>
            <p>The projects highlighted below were undertaken by me prior to founding Zenith Digital. They illustrate the depth of experience and creative insight I bring to the company.</p>
        </div>
    </div>
</section>



<section id="portfolio" class="portfolio">

    <div class="text-center mb-4">
        <div class="btn-group" role="group" aria-label="Portfolio filters">
            <button type="button" class="btn btn-outline-primary filter-button" data-filter="*">All</button>
            <button type="button" class="btn btn-outline-primary filter-button" data-filter=".game">Game</button>
            <button type="button" class="btn btn-outline-primary filter-button" data-filter=".misc">Misc</button>
            <button type="button" class="btn btn-outline-primary filter-button" data-filter=".film-tv">Film/TV</button>
        </div>
    </div>


    <div class=" py-5 text-center container">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 portfolio-container">
                {% for case in site.data.cases %}
                <div class="col mix {{ case.type }}">
                    {% include jobcard.html title= case.title description=case.desc img=case.img %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


</section>